<!doctype html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="css/tufte.css"/>
    <title><%= @title %></title>
  </head>
  <body>
    <%= @body %>
  </body>
</html>
