<!doctype html>
<html lang="en-ca">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="/css/tufte.css"/>
    <link rel="stylesheet" href="/css/kropla.css"/>
    <title><%= @title %></title>
  </head>
  <body>
    <h2 class="title">Elliot Snow-Kropla</h2>
    <nav class="sans">
      <ul class="site-nav">
        <li><a class="no-tufte-underline" href="/">Home</a></li>
        <li><a class="no-tufte-underline" href="/projects">Projects</a></li>
        <li><a class="no-tufte-underline" href="/posts">Blog</a></li>
        <li><a class="no-tufte-underline" href="/feed.atom">Feed</a></li>
        <li><a class="no-tufte-underline" href="/eskcv.pdf">CV</a></li>
      </ul>
    </nav>
    <%= @body %>
  </body>
  <footer>
    &copy; Elliot Snow-Kropla <%= @build_time.year %>
  </footer>
</html>
